# Node
node_modules/
npm-debug.log
yarn-error.log

# Playwright
playwright-report/
test-results/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Credentials/Secrets
credentials/
*.local.json

# Logs
*.log

# Coverage
coverage/

# Misc
*.swp
*.swo

# Ignore test data (optional, uncomment if needed)
# data/n8n_data_google_sheet/data.json
# data/data.json
scripts/progress/progress.json 
/screenshots/SPLife
/data/n8n_data_google_sheet
/data/n8n_data_google_sheet
/data/n8n_data_google_sheet
/data/n8n_data_google_sheet
/data/bk
/data/bk
/data/bk_data_splife
/data/bk
/data/bk
/data/bk
/data/bk
data/bk/data_1000001.json
data/bk/data_999999999.json
